@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --primary-color: #898980; /* dark grayish yellow */
    --secondary-color: #A9B2AC; /* dark grayish cyan */
    --accent1-color: #BCD0C7; /* grayish cyan - lime green */
    --accent2-color: #DEF2C8; /* light grayish green */

    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Rethink Sans', serif;

}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid greenyellow; */
}

/* HEADER */



header nav a {
    text-decoration: none;
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 20% 55% 25%;
}

h1, h2 {
    font-family: var(--heading-font); 
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}
.hero h1 {
    display: flex;
    justify-content: center;
    margin: 0;
}
.hero img {
    display: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}


.heroarticle img {
    display: flex;
    /* float image */
    width: 50%;
    align-items: center;
  
    height: auto;
}

.hero-container {
    max-width: 100%;
    position: relative;
    box-shadow: 0 0 30px gray;
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin: 0px;
    height: 640px;
    /* border: 1px solid red; */
}

    /* border: 1px solid red; */

/* FOOTER */    


.sociallinks nav {
    display: flex;
    justify-content: flex-end;
  
}

.sociallinks img {
    width: 2%;
    height: auto;
    /* padding: 2; */
}


