:root { /* pseudo-class selector */
    --primary-color: #413939; /* from Dark grayish yellow  */
    --secondary-color: #A9B2AC; /* Dark grayish cyan -lime green  */
    --accent1-color: #BCD0C7 ; /* Grayish cyan - lime green  */
    --accent2-color: #cecea1; /* from Light grayish green */

    --heading-font: 'Josephina Sans', sans-serif;
    --paragraph-font: 'Rethink Sans', sans-serif;

    --nav-link-color: ;
    --nav-background-color: ;
    --nav-hover-link-color: ;
    --nav-hover-background-color: ;
}
/* REVIEW EACH ATTRIBUTES */
/*******************************************************
*
*  Rules for classes used on all pages
*  CSS rules that will be used on all pages 
*
*******************************************************/

/* general styles */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    /* text-align: center; */
    padding: 0.5em;
}

h1 {
    color: var(--secondary-color);
    text-align: center;
}

h2 {
    color: var(--primary-color);
}

/* MAIN */
/*******************************************************
*
*              Header Area
*    These are generally the rule names for placing the 
*    logo and navigation in the header and making the nav
*    horizontal.
*
********************************************************/
#logo {
    width: 5em;
    height: auto;
}

header {
    background-color: var(--accent2-color);
    display: grid; 
    grid-template-columns: 20% 60% 20%;
    color: var(--primary-color);
}


/* NAVIGATION */
nav  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    /* border-radius: 20px; */
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color); 
}



/*******************************************************
*
*              Footer Area
*
*******************************************************/

footer {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    box-shadow: 0 0 10px #413939;    
}

footer p {
    align-self: center;
    justify-self: end;
    font-size: 0.8em;
    padding: 1.5em;
}

.social-icons img {
    width: 30px;
    height: auto;
    text-decoration: none;
    margin: 0.5em;
}



/*******************************************************
*
*              Homepage only CSS
*    Only rules that are used on the homepage only
*    The Home page contains a hero image with heading, 
*    a newsletter, call to action, uses CSS Grid as assigned, 
*       and contains the required content.
*******************************************************/
.hero-container {
    max-width: 100%;
    position: relative;
    box-shadow: 0 0 30px gray;
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin: 0px;
    height: 640px;
}

.hero-container img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 10px #413939;
}

.hero-container a{
    position: absolute;
    box-shadow: 10 0 50px gray;
    padding: 0 auto;
    float: right;
    top: 80%;
    left: 80%;
}
.hero-container h1{
    position: absolute;
    top: 15%;
}


.hero-title {
    color: var(--primary-color);
    padding: 20px;
    background-color: var(--accent1-color);
    width: 100%;
    display: block;
    margin-top: 3%;
    text-align: center;
    margin-bottom: auto;
    position: absolute;
    top: 15%;
    opacity: 0.8;

}

.hero-description {
    font-size: 30px;
    color: red;
    border: 1px solid green; 
}

.hero-description img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px gray;
    padding: .5rem;
    margin: 10px;

}


.home-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 5rem;
    border: 1px solid green;
}

/* .home-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px gray;
    padding: .5rem;
    margin: 10px;
} */


.in-action {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
    margin: 1em;
    border: 1px rgba(9, 9, 9, 0.294) solid;
    border-radius: 0.5rem;
}
    

.in-action img {
    background-color: var(--accent2-color);
    box-shadow: 0 0 30px #413939;
    padding: 0.2em;
    width: 75%;
    align-items: center;

    border-top-left-radius: 4px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 4px; 
}


.content {
    padding: 2rem;
    background-color: var(--accent2-color);
    border-radius: 10px;
    height: 250px;
    border: 1px solid orange;
    width: 20%;
    position: relative;
    width: 100%;
    
}

.overlay {
    position: absolute;
   
}

    /* Call to Action */
.call-to-action {
    text-decoration: none;
    /* background-color: var(--accent1-color);
    color: #fff;
    /* padding: 1rem; 
    text-align: center;
    border: 5px solid #a9a9a982;
    border-radius: 20px;
    left: 50%; */
} 

.call-to-action h2 {
    margin-bottom: 2rem;
}


#home {
    color: #fff;
    padding: 1rem;
    text-align: center;
    border: 1px solid #a9a9a982;
    border-radius: 50px;
    box-shadow: 2 0 10px gray;
    background-color: var(--accent1-color);
}

#home:hover {
    background-color: var(--nav-hover-link-color);
    color: var(--accent1-color);
    padding: 1rem;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 2 0 10px gray;
}

.call-to-action a {
    font-weight: bold;
    font-size: larger;
    background-color: var(--accent2-color);
    /* color: var(--primary-color); */
    /* padding: 8px 5rem; */
    /* text-decoration: none; */
}

/* .call-to-action a:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    padding: 8px 5rem;
    text-decoration: none;
} */

.newsletter {
    border: 2px red dotted;
    margin: 0 5rem 5rem;
    padding: 2rem;
    display: grid;
    grid-template: 1fr 1fr;
}

.newsletter p {
    padding: 1rem 0;
}

.newsletter form {
    border-style: none;
    padding:0;
}

.newsletter label {
    color: var(--primary-color);
    font-weight: bold;
    font-size: larger;
    padding-right: .5rem;
}

.newsletter input {
    border-style: none;
    border-bottom: var(--accent1-color) 2px solid;
    width: 100%;
    margin-bottom:10px;
}

.newsletter button {
    color : white;
}

.margin-3rem{
    margin: 3rem;
}

/*******************************************************
*
*              Rules for About Us page only
*     Only put rules here that are used on the 
*     About Us page only
*
*******************************************************/
.hero-box img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 10px #413939;
}

.hero-box h1 {
    color: var(--primary-color);
    padding: 20px;
    background-color: var(--accent1-color);
    width: 100%;
    display: block;
    margin-top: 3%;
    text-align: center;
    margin-bottom: auto;
    position: absolute;
    top: 15%;
    opacity: 0.8;
 
}

.hero-article {
    position: absolute;
    padding: 200px;
    top: 45%;
    left: 10%;
    right: 10%;
    background-color: var(--accent2-color);
    border-radius: 20px;
    box-shadow: 0 0 30px #413939;
}

.hero-article p {
    padding: 1em;
    float: left;
    position: absolute;
    top: 22%;
    left: 5%;
    right: 40%;
    text-align: left;
    font-weight: bold;
    font-size: x-large;
    color: var(--primary-color);
    opacity: 0.9;
    text-shadow: white 2px 1px 1px;
}

.hero-article img {
    width: 30em;
    height: auto;
    float: right;
    position: absolute;
    top: 10%;
    right: 5%; 
    background-color: var(--secondary-color);
    box-shadow: 0 0 30px #413939;
    border-radius: 10px;
}

.history-box, .adventure-box {
    margin: 1em;
    padding: 1em;
    /* text-align: center; */
}

.history-box h2 {
    text-align: center;
}

/* align to center all images in adventure-box */
.adventure-box {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(5, 1fr); ;
    grid-gap: 1em;
}

.adventure-box h2 {
    grid-column: 1/-1;
    text-align: center;
}
.adventure-box img {
    background-color: var(--accent2-color);
    box-shadow: 0 0 30px #413939;
    padding: 0.2em;
    width: 75%;
    /* align-items: center; */
 
    border-top-left-radius: 4px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 4px;
}
figcaption {
    font-size: 0.6em;
    text-align: center;
}

/*******************************************************
*
*              Rules for Trips page only
*    Only rules that are used on the trips page only
*
*******************************************************/
.trips {
    display: grid;
    padding: 2rem;
}
.trips h1 {
    color: var(--primary-color);
    padding: 1rem;
}



.rapids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px rgba(9, 9, 9, 0.294) solid;
    border-radius: 0.5rem;
}

.rapids img {
   background-color: var(--accent2-color);
    box-shadow: 0 0 30px #413939;
    padding: 0.2em;
    width: 75%;
    align-items: center;

    border-top-left-radius: 4px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 4px; 
}

/* Package Details */
.packages {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: 1rem; */
    padding: 1rem;
    margin: 1rem;
    /* border: 1px rgba(9, 9, 9, 0.294) solid; */
    /* border-radius: 20px; */
    width: 100%;
}

.packages img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 30px gray;
    padding: .5rem;
    margin: 10px;
}

table, tr, th, td {
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
    padding: 2em;
    margin: 1em;
    text-align: center;
    /* border-radius: 10px; */
}
/* thread with background color accent 2 */
thead {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}
/* center the h2 class="package" */
.package {
    text-align: center;
    padding: 1rem;
    color: var(--primary-color);
}

#contact {
    color: #fff;
    padding: 1rem;
    text-align: center;
    border: 1px solid #a9a9a982;
    border-radius: 50px;
    box-shadow: 2 0 10px gray;
    background-color: var(--accent1-color);
}
/*******************************************************
*
*              Rules for Contact Us page
*    Only put rules here that are used on the 
*    contact us page only
*
*******************************************************/

/* h1.contact{} */
/* section .office_info{} */
.office-map{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%; 
    padding: 1rem;
    margin: 1rem;
    border: 1px rgba(9, 9, 9, 0.294) solid;
    border-radius: 0.5rem;
}

.contact-info {
    display: grid;
    border: 1px solid yellowgreen;
    grid-template: 1fr;
}
    /* h2.office {} */
.contactus {
    display: grid;
    padding: 2rem;
}

.contactus h1 {
    color: var(--primary-color);
    padding: 1rem;
}

.contact-info p {
    padding: 0;
    /* font-size: larger; */
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

/* make map wide */
.map {
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* float: center; */
    width: 100%;
}



/* section .form{} */
    /* .form-item{} */
    /* button{} */

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.contact-form h2 {
    text-align: center;
    padding: 1rem;
}

label{
    display: inline-block;
    margin-bottom: 0.5em;
   
}


input, textarea, select {
    display: block;
    padding: 0.3rem;
    font-size: 1.1rem;
    width: 100%;
}


.form {
    width: 550px;
    height: 650px;
    margin: 0 auto;
    padding: 1rem;
    background-color:#eee;
    display: grid;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

fieldset {
    display: grid;
    gap: .5rem;
    border: none;
    padding: 1rem;   
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: 2px solid yellowgreen; /* change border color */
    border-radius: .5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

button:hover{
    background-color: darkgreen; /*change hover background color */
  }

.form-item {
    font-family: Arial, Helvetica, sans-serif;
}


/* section .employees */

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px rgba(9, 9, 9, 0.294) solid;
    border-radius: 0.5rem;
}

.employees h2 {
    color: var(--primary-color);
    background-color: var(--accent1-color);
    padding: 1rem;
    text-decoration: none;
}   
.employees img {
    justify-content: space-between;
    /* width: 40%; */
    height: auto;
    border-radius: 5px; 
    margin: 10px;


    background-color: var(--accent2-color);
    box-shadow: 0 0 30px #413939;
    padding: 0.2em;
    width: 75%;
    align-items: center;

    border-top-left-radius: 4px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 4px; 
}

