@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --primary-color: #898980; /* dark grayish yellow */
    --secondary-color: #A9B2AC; /* dark grayish cyan */
    --accent1-color: #BCD0C7; /* grayish cyan - lime green */
    --accent2-color: #DEF2C8; /* light grayish green */

    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Rethink Sans', serif;

}

* {
        margin: 0;
        padding: 0;
        border: 1px solid greenyellow;
        /* box-sizing: border-box; */
    }

/* HEADER */
body {
    font-family: var(--paragraph-font)
    /* font-size: 16px; */
}

header nav a {
    text-decoration: none;
    color: var(--primary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* FOOTER */

.sociallinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 10px;
}

.sociallinks img {
    width: 10%;
    padding: 8px;
}





